- klass = "#{field.abstract_model.model_name.parameterize}-#{field.name}"

.controls
  = form.hidden_field field.name, { id: "#{klass}-#{form.object.id}" }
  .json-translate-errors
    = form.errors_for(field)
  %ul.nav.nav-tabs{ style: 'margin-top: 0' }
    - field.locales.each do |locale|
      - locale_klass = "json-translate-pane-#{field.name}-#{locale}-#{form.object.id}"
      %li{ class: ( 'active' if locale == field.current_locale ) }
        %a{ href: '#', data: { toggle: 'tab',  target: ".#{locale_klass}:first"} }= "#{EmojiFlag.new(locale)} #{t(locale, scope: :languages)}"
  .tab-content{ class: "#{field.name}-inputs" }
    - field.locales.each do |locale|
      - locale_klass = "json-translate-pane-#{field.name}-#{locale}-#{form.object.id}"
      .fields.tab-pane{ class: "#{locale_klass} #{'active' if locale == field.current_locale}" }
        = form.text_area "#{field.name}_#{locale}", field.html_attributes.reverse_merge(data: { locale: "#{locale}", richtext: false, options: {}.to_json }).reverse_merge({ value: field.value_for_locale(locale), class: "form-control json-translate-input json-translate-input-#{form.object.id}", required: field.required })

      :javascript
        (function() {
          var input = $("##{klass}-#{form.object.id}");
          var form = $(input.get(0).form);

          form.on('submit', function(e) {
            var value = input.value || {};

            $('.#{field.name}-inputs .json-translate-input-#{form.object.id}').each(function(index, element) {
              value[$(element).data('locale')] = element.value;
            });

            input.val(JSON.stringify(value));
          });
        })();
